:host {
  display: flex;
  flex-direction: column; /* Changed to column */
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 100%;
  flex-grow: 1; /* Allow game-container to grow */
  justify-content: center; /* Center content vertically within its space */
}

.home-button {
  margin-top: auto; /* Push to the bottom */
  margin-bottom: 1rem; /* Add some space from the bottom */
}

.navigation-buttons {
  display: flex;
  gap: 1rem;
  width: 100%;

  > div {
    flex: 1 1 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &.home-button{
    justify-content: center;
  }
}
