:host {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.team-top, .team-bottom {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  box-sizing: border-box;
}

.team-top {
  top: 2rem;
}

.team-bottom {
  bottom: 2rem;
}

.team-name {
  font-size: 2rem;
  cursor: pointer;
}

.score-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 2rem;
}
